Werkzeug==0.9.3
django-debug-toolbar==0.9.4
django-extensions==0.8

pytest==2.6.0
pytest-cache==1.0
pytest-django==2.6.2
pytest-pep8==1.0.6
pytest-sugar==0.3.4
pytest-splinter==1.0.3
splinter==0.6.0
selenium==2.42.1

mock==1.0.1
django-oscar-testsupport==0.1.1
httpretty==0.6.3

coverage==3.6
coveralls==0.2
flake8==2.0
